# .NET
bin/
obj/
*.user
*.suo
*.log

# User secrets
**/appsettings.Development.json
**/secrets.json

# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars

# IDE
.vs/
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

**/publish/